.shadow-img {
  box-shadow: 0 0 0.1pc rgba(25, 9, 9, 0.193);
  padding: 0.6em;
}
p {
  color: black;
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  padding: 0.5em;
  margin-left: 5em;
}
